body{
    align-items: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #a2d2ff;
    color: #ffffff;

}
h1,  h2, h3, h4{ text-shadow: 3px 0px 1px black;

}

.img{
    width: 200px;
    height: 200px;
    border: 5px solid #eeb0c9;
    border-radius: 100px;
    margin-bottom: 10px;

}
.gift-hint{
    margin-top: 0;
}
.gift-img {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url(../images/gift\ card.jpg);
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("../images/happy.gif");
}
#gift-img-gift:hover {
    background-image: url("../images/gift.jpg");
}
#gift-img-world:hover {
    background-image: url("../images/world.gif");
}
#gift-img-cake:hover {
    background-image: url("../images/cake.jpg");
}

    
 #age {
    color: #eeb0c9;
    padding: 10px 5px;
   border-radius: 5px;
    margin-bottom: 0%;
}
#time{color: #eeb0c9;
     padding: 10px 5px;
    border-radius: 5px;
    margin-top: 0%;

}
#header{ display: flex;
    flex-direction: column;
    align-items: center;


}